body,
html {
  width: 100%;
  height: 100%;
}
/** { border: 1px solid red; }*/

body {
	
	padding-bottom: 20px;
	
	background-image: url(Code.jpg);
	background-size: 100%; 
	background-repeat: no-repeat; 

  font-family: 'Montserrat', sans-serif;
  margin: none ;
}

.cont{
	border: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	/*margin: 70px;*/
	}
h1{
	color: white;
	margin-top: 10%;
	font-weight: bold;
	font-size: 5em;
}
.btn-cont{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	border: 1px solid transparent;
	margin: none;



}
button{
	margin-top:20%;

	padding: 20px 30px;
	border: 1px solid transparent;
	text-decoration: none;
	background-color: #343434;
	text-align: center;
	color: white;
}
.btn_main{
	transition:  0.25s;
	border-radius: 20px;
	
}
.btn_main:hover {
	cursor: pointer;
	background-color: red;
}
.btn_main:active {
	
	background-color: blue;

}